VITE_API_URL=http://localhost:3001
VITE_WS_URL=http://localhost:3001
VITE_AUTH_SIGNUP_PATH=/signup
VITE_AUTH_SIGNIN_PATH=/signin
VITE_AUTH_ME_PATH=/users/me
VITE_TABLES_STATUS_PATH=/tables/statuses
VITE_TABLE_UPDATE_PATH=/tables/:tableId/status
VITE_TOAST_SYNC_PATH=/toast/sync
