@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
  font-family: "Crimson Text";
}

.container {
  font-family: "Crimson Text";
  display: flex;
  justify-content: space-around;
}

.main-text {
  font-size: 128px;
}
