
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__logo {
  line-height: 120%;
}

.header__button {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  margin-left: 12px;
  background-color: #2eb0e8;
  border: none;
  color: white;
  border-radius: 18px;
  width: 126px;
  height: 48px;
}
